.nf_container {
  width: 90%;
  margin: 0 auto;
}

.notFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound img {
  height: 250px;
}

.notFound h1 {
  color: rgb(151, 206, 76);
}
